<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <form class="form-inline" name="searchForm" id="searchForm" action="" method="GET">

                    {if (isset($affair_id) && $affair_id)}
                    <input value="{$affair_id ? $affair_id : '' ;}" name="affair_id" type="hidden">
                    {$affair_info.name}
                    {/if}
                    <div class="form-group">
                        <input value="{$keywords ? $keywords : '' ;}"
                               name="keywords" id="keywords" class="form-control input-sm" placeholder="名称">
                    </div>


                    <div class="form-group">
                        <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search"></i> 查询
                        </button>
                    </div>
                    <div class="form-group">
                        <button onclick="clear_form()" class="btn btn-sm btn-default" type="button"><i
                                class="fa  fa-eraser"></i> 清空查询
                        </button>
                    </div>

                    {if (isset($affair_id) && $affair_id)}
                    <div class="btn-group">
                        <a class="btn flat btn-sm btn-default form-history-back">
                            <i class="fa fa-arrow-left"></i>
                            返回
                        </a>
                    </div>
                    {/if}
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <div>
                    <a title="新增" class="btn btn-primary btn-sm" href="add.html?affair_id={$affair_id}">
                        新增
                    </a>
                </div>
            </div>
            <div class="box-body table-responsive">
                <table class="table table-hover table-bordered datatable" width="100%">
                    <thead>
                    <tr>
                        <th>
                            <input id="data-checkall" type="checkbox" onclick="check_all(this)" class="checkbox" placeholder="全选/取消">
                        </th>
                        <th>ID</th>
                        <th>材料名称</th>
                        <th>材料样本名称</th>
                        <th>来源渠道</th>
                        <th>纸质材料</th>
                        <th>是否需要电子档</th>
                        <th>材料必要性</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="list" item="item"}
                    <tr>
                        <td>
                            <input type="checkbox" onclick="check_this(this)" name="data-checkbox"
                                   data-id="{$item.id}" class="checkbox data-list-check" value="{$item.id}"
                                   placeholder="选择/取消">
                        </td>
                        <td>{$item.id}</td>
                        <td>{$item.name}</td>
                        <td><a href="{$item.file_info.file_path}" target="_blank">{$item.material_sample}</a></td>
                        <td>{$item.source_channel}</td>
                        <td>{$item.paper_material}</td>
                        <td>{$item.is_need_electronic}</td>
                        <td>{$item.is_must}</td>
                        <td class="td-do">
                            <a href="edit.html?id={$item.id}"
                               class="btn btn-primary btn-xs">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a class="btn btn-danger btn-xs AjaxButton" title="删除" data-id="{$item.id}" data-url="del.html">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            {include file="template/data_footer" /}
        </div>
    </div>
</div>