.img1{
    position:fixed;
    height:20px;
    top:30px;
    left:5px;
    z-index: 2;
}
.img2{
    width:100%;
    display:block;
    position:fixed;
    top:0
}
.img3{
    width:10px;
    transform:rotateZ(90deg);
}
.img4{

}
*{
    margin:0
}
.head{
}
.headTitle{
    padding:20px 10px;
    text-align:center;
    font-size: 20px;
}
.greenLine{
    width:60px;
    height:2px;
    background-color:#19a14d;
    margin:0 auto;
    align-items:center;
}

.partOneSingle {
    display:flex;
    padding:10px 20px;
    justify-content:space-between;
    border-bottom:1px solid #eee;
    height:30px;
}
.partOneSingleLookAll {
    display:flex;
    padding:10px 20px 10px 20px;
    justify-content:space-between;
}
.partTwo{
    border-top:10px solid #eee;
}
.right{
    text-align: right;
}
div{
    display:block;
}
.doDetail{
    line-height:25px;
    border-bottom:0 solid #eee;
    font-size:15px;
    color:#666;
    overflow:hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
}
.flod{
    height:50px;
}
.lookAll{
    font-size:14px;
    color:#666;
    display:flex;
    align-items:center;
}
.extend{
    height:auto;
    overflow: visible;
}
.partOneSingleView {
    color:#19a14d;
    font-size: 20px;
}
.ListTwo{
    padding:0px 0 20px 0;
}
.listTwoSingle {
    padding:10px 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:1px solid #eee;
}
.greenPoint {
    position:absolute;
    top:50%;
    left:0%;
    transform:translateY(-50%);
    width:8px;
    height:8px;
    background-color:#19a14d;
    border-radius:50%;
}
.leftWords {
    padding:0 20px 0 20px;
    position:relative;
    color:#666;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size:15px;
}
image {
    width:320px;
    height:240px;
    display:inline-block;
    overflow:hidden;
}
