body{
    margin: 0;
    color: #666666;
}
a{
    text-decoration: none;
}
.image{
    width: 100%;
    display: block;
}
.top-div{
    font-size: 18px;
    vertical-align: middle;
    border-bottom: #efeeef solid 1px;
    padding: 0 10px;
}
.flex{
    display: flex;
}
.flex-box{
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex-start{
    justify-content: flex-start;
}
.content-div{
    text-align: center;
    flex-grow: 1;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
    border-bottom: #efeeef 1px solid;
}
.content-span{
    color: #666666;
    padding: 10px;
    vertical-align: middle;
}
.active{
    color: #333333;
    border-bottom: 2px solid #079a3f;
}
.saperate{
    height: 10px;
    background: #efeeef;
}
.content-left{
    text-align: start;
}
.arrow{
}
.arrow_img{
    height: 18px;
    padding: 5px 0 0 5px;
}
.flex-center{
    align-items: center;
}
.green-left{
    color: #666666;
    vertical-align: middle;
    border-left: solid 4px #079a3f;
    margin:10px 0;
    padding-left: 10px;
}
.flex-item{
    margin:auto;
}
.title{
    text-align: start;
    font-size: 16px;
}
.sub-title{
    text-align: start;
    font-size:12px;
}
.icon{
    height: 30px;
    margin: auto;
}
.departmentClassify{
    display: flex;
    flex-wrap: wrap;
}
.departmentSingle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    width:25%;
    color:#666;
    box-sizing: border-box;
    border-right:1px solid #eee;
    border-bottom:1px solid #eee;
    overflow: hidden;
    padding: 20px 0;
}
.departmentSingle:nth-of-type(4n){
    border-right:none;
}
.flex-box > div:nth-of-type(2n){
    border-left: 1px solid #efeeef;
}
.more{
    border:none;
}