html{
    margin: 0;
    padding: 0;
}
body{
    /* background-color:#eee; */
    /* width: 100%; */
    margin: 0;
    padding: 0;
}
#none{
    display: none;
    font-size: 24px;
    text-align: center;
}
.themeTitle img{
    margin-right: 30px;
    height: 120px;
}