body{
    margin: 0;
}
img{
    width: 100%;
    display: block;
}
.top-div{
    height: 38px;
}
.flex-box{
    display: flex;
    justify-content: space-between;
}
.top-div div{
    font-size: 28px;
    text-align: center;
    width: 49%;
}

.left-flex{
    border-right: 1px solid #efeeef;
}
.visited{
    color: #333333;
    
}