<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app" v-html="message">
        {{ message }}
    </div>
    <div id="app-2">
        <span v-bind:title="message">
            鼠标悬停几秒钟查看此处动态绑定的提示信息！
        </span>
    </div>
    <div id="app-3">
        <p v-if="seen">现在你看到我了</p>
    </div>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>
    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">逆转消息</button>
    </div>
    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>

    <div id="app-7">
        <ol>
            <!--
      现在我们为每个 todo-item 提供 todo 对象
      todo 对象是变量，即其内容可以是动态的。
      我们也需要为每个组件提供一个“key”，稍后再
      作详细解释。
    -->
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id">
            </todo-item>
        </ol>
    </div>
    <div id="wcc">
        <span v-once>{{message}}</span>
        <button v-bind:disabled="isButtonDisabled">Button</button>

        <!-- 单引号无用 -->
        <div class="static" v-bind:class="{ active: isActive, 'message': hasError }">666</div>

        <div v-bind:class="{ active: isActive }"></div>
        <p v-bind:[s]="w +' x'">123</p>
        <p>{{reversedMessage()}}</p>
        <p>{{fullName}}</p>
        <div v-bind:style="[baseStyles, overridingStyles]">3213123123</div>
        <div v-bind:class="classObject"></div>
        <div v-if="Math.random() > 0.5">
            Now you see me
        </div>
        <div v-else>
            Now you don't
        </div>

        <ul>
            <li v-for="(value,key,index) in items" v-bind:key="index">
                {{index}}--{{ key }}--{{value}}
            </li>
        </ul>
        <ul>
            <li v-for="value in items">
                {{value}}
            </li>
        </ul>

        <button v-on:click="warn('Form cannot be submitted yet.', $event)">
            Submit
        </button>

    </div>

    <my-component class="baz boo">333</my-component>


    <div id="todo-list-example">
        <input v-model="newTodoText" id="new-todo" placeholder="E.g. Feed the cat">
        <button v-on:click="addNewTodo">Add</button>
        <button>Add2</button>
        <ul>
            <li is="todo-item" v-for="(todo, index) in todos" v-bind:key="todo.id" v-bind:title="todo.title"
                v-on:remove="todos.splice(index, 1)"></li>
        </ul>
        <div @contextmenu.prevent="addNewTodo">Do something</div>
        <input @keyup.alt.67="addNewTodo">
        <input @input="addNewTodo">
    </div>

    <div id="example-4">
        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>
        <div>
            <input type="checkbox" v-model="toggle" true-value="yes" false-value="no">
            <div>{{toggle}}</div>
        </div>
        <input v-model.trim="age">
        <div>{{age}}</div>
    </div>

    <div id="components-demo">
        <button-counter></button-counter>
        <button-counter></button-counter>
        <button-counter></button-counter>
    </div>

    <div id="blog-post-demo">
        <blog-post :style="{ fontSize: post.postFontSize + 'em' }" v-for="post in posts" v-bind:key="post.id"
            v-bind:post="post" @enlarge-text="onEnlargeText"></blog-post>
        <custom-input v-model="searchText"></custom-input>
        <div>{{searchText}}</div>
        <alert-box>
            Something bad happened
        </alert-box>
    </div>





    <script src="js/index.js"></script>


</body>

</html>