<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        {{ message }}
    </div>
    <div id="app-2">
        <span v-bind:title="message">
            鼠标悬停几秒钟查看此处动态绑定的提示信息！
        </span>
    </div>
    <div id="app-3">
        <p v-if="seen">现在你看到我了</p>
    </div>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>
    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">逆转消息</button>
    </div>
    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>

    <div id="app-7">
        <ol>
            <!--
      现在我们为每个 todo-item 提供 todo 对象
      todo 对象是变量，即其内容可以是动态的。
      我们也需要为每个组件提供一个“key”，稍后再
      作详细解释。
    -->
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id">
            </todo-item>
        </ol>
    </div>
    <div id="wcc">
        <span v-once>{{message}}</span>
        <button v-bind:disabled="isButtonDisabled">Button</button>

        <!-- 单引号无用 -->
        <div class="static" v-bind:class="{ active: isActive, 'message': hasError }">666</div>

        <div v-bind:class='message'></div>
        <p v-bind:[s]="w +' x'">123</p>
        <p>{{reversedMessage()}}</p>
        <p>{{fullName}}</p>
        <div v-bind:style="[baseStyles, overridingStyles]">3213123123</div>

    </div>

    <my-component class="baz boo">333</my-component>


    <script src="js/index.js"></script>


</body>

</html>