*{
    margin:0;
    padding:0;
}
html{
    height: 100%;
}
body{
    height: 100%;
}
a:link{
    text-decoration: none;
}
.display_none{
    display: none;
}
.flex_box{
    height: 100%;
    display: flex;
}
.fixed_box{
    position: fixed;
}
.main_1{
    height: 100%;
    background: rgb(29,37,49);
    width: 100px;
    z-index: 1;
}
.icons{
    margin: 15px;
}
.buttons{
    position: relative;
}
.highlight{
    position: absolute;
    left: -10px;
    top:35px;
    display: none;
}
.a_icons:focus + .highlight{
    display: block;
}
.bottom{
    position: absolute;
    bottom: 0;
    height: 16px;
    margin: 20px;
}
.bottom > *{
    margin-right: 20px;
}
.main_2{
    position: relative;
    height: 100%;
    background: rgb(34,44,60);
    width: 250px;
}
.grid_box{
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* grid-template-rows: 30px; */
}
.margin_20{
    margin:20px 0 20px 20px;
}
.row_gap{
    grid-row-gap: 10px;
}
.grey_p{
    color: rgb(91,103,121);
}
.normal_p{
    color: rgb(183, 192, 205);
}
.white_p{
    color: white;
}
.num_p{
    background: rgb(37,154,242);
    border-radius: 15px;
    width: 30px;
    text-align: center;
}
.num_p_new{
    background: rgb(37,154,242);
    border-radius: 15px;
    text-align: center;
    color: white;
    padding: 0 8px;
    height: 25px;
}
.grid_box > a{
    position: relative;
}
.highlight2{
    position: absolute;
    left: -30px;
    top: 0px;
    display: none;
}
.grid_box > a:focus > .highlight2{
    display: block;
}
.grid_box > a:focus > .normal_p{
    color: white;
}
.main2_hr{
    margin: 20px;
    border: none;
    height: 1px;
    background: rgb(42, 53, 71);
}
.main2_flex{
    margin: 20px 20px;
    height: 25px;
    position: relative;
}
.main2_flex > img{
    height: 16px;
}
.main2_icon{
    margin-right: 10px;
}
.flex_space_between{
    justify-content: space-between;
}
.main2_flex > a:focus > .normal_p{
    color: white;
}
.highlight3{
    position: absolute;
    left: -28px;
    display: none;
}
.main2_flex > a:focus + .highlight3{
    display: block;
}
#alert_icon{
    height: 24px;
}
.main2_bottom{
    position: absolute;
    bottom: 10px;
    left: 20px;
}
.main_3{
    width: calc(100% - 350px);
    margin-left: 350px;
}
.main_3_head{
    z-index: 1;
    background: white;
    height: 80px;
    width: calc(100% - 350px);
    position: fixed;
    align-items: center;
    border-bottom: #e6e9ec 2px solid;
}
.main_3_head > h1{
    margin:0 20px;
}
.right_top{
    align-items: center;
    justify-content: flex-end;
}
#right_top > *{
    margin-right: 20px;
}
.circle{
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-size:100% 100%;
    position: relative;
}
#user_face{
    background-image: url(../../images/623/Face1.jpg);
}
.status{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: white;
    border-radius: 15px;
    text-align: center;

}
.blue_p{
    color: rgb(35, 153, 241);
}
.black_p{
    color: black;
}
.second_head{
    top:80px;
}
.search_col{
    position: relative;
    min-width: 400px;
    height: 80px;
    border: 1px solid #e6e9ec;
    text-align: center;
}
.search_input{
    margin-top: 15px;
    height: 60%;
    width: 80%;
    padding-left: 20px;
    border: 1px solid #e6e9ec;
}
/* .search_input::-moz-placeholder{
    color: rgb(178, 186, 200);
} */
#search_icon{
    position: absolute;
    top: 30px;
    right: 50px;
}
.head_3{
    border-top: 1px solid #e6e9ec;
    align-items: center;
    width: 100%;
    position: relative;
}
#head_3_status{
    height: 10px;
}
.head_3_col_1{
    align-items: center;
    margin-left: 20px;
}
.head_3_col_1 > p{
    margin-right: 20px;
}
.head_3_col_2{
}
.head_3_col_2 img{
    
}
.head_3_icon{
    height: 16px;
    width: 16px;
    padding: 9px;
    border: 1px solid #e6e9ec;
    text-align: center;
}
.arrow_icon{
    margin-right: 20px;
}
#head_num{
    margin: 10px 20px 0 20px;
}
.main_3_body{
    margin-top: 161px;
}
.main_3_1{
    max-width: 402px;
}
.main_3 h1{
    font-weight: normal;
}
.pic{
    width: 50px;
    height: 50px;
}
#pic1{
    background-image: url(../../images/623/Pic.jpg);
}
.main_3_1_content{
    margin: 0 15px;
    height: 60px;
    align-items: center;
}
.main_3_1_col2{
    margin-left: 10px;
}
.status2{
    margin-right: 5px;
}
.main_3_1_col2 span{
    font-weight: bold;
}
.flex_center{
    display: flex;
    align-items: center;
}
.distance{
    color: rgb(127, 143, 164);
    font-weight: bold;
}
#left_border{
    border-right: 1px solid #e6e9ec;
}
#grey_hr{
    background-color: #e6e9ec;
    border: none;
    height: 1px;
}
#main_3_1_a{
}
#main_3_1_a:focus #left_border{
    border-left: 3px solid rgb(35, 153, 241);
}
.concept{
    overflow: hidden;
    height: 45px;
    text-overflow: ellipsis;
}
#main_3_1_a:focus .status2{
    display: inline;
}
#main_3_1_a:focus span{
    color:rgb(35, 153, 241);
}
#pic2{
    background-image: url(../../images/623/Pic2.jpg);
}
#pic3{
    background-image: url(../../images/623/Pic3.jpg);
}
#pic4{
    background-image: url(../../images/623/Pic4.jpg);
}
#pic5{
    background-image: url(../../images/623/Pic5.png);
}
#pic6{
    background-image: url(../../images/623/Pic6.png);
}
#pic7{
    background-image: url(../../images/623/Pic7.png);
}
.main_3_2{
    margin: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.text{
}
.main_3_2 .flex_box{
    margin-top: 20px;
}
.apply{
    z-index: 2;
    position: fixed;
    width: 100%;
    background: white;
    bottom: 0;
    left: 752px;
}
.apply_add{
    width: 56px;
    margin-left: 20px;
    border: 1px rgb(206, 208, 218) solid;
    background: rgb(252, 252, 253);
}
.apply_add img{
    margin:20px;
}
.apply input{
    width: 55%;
    margin-right: 20px;
}
.apply_row{
    margin-bottom: 20px;
}
.top_line{
    position: relative;
}
.top_line hr{
    margin-top: 20px;
    height: 1px;
    background-color: rgb(167, 214, 249);
    border: none;
}
.top_line p{
    background: white;
    z-index: 3;
    position: absolute;
    top: -12px;
    left: 27%;
    padding: 0 10px;
    color: rgb(35, 153, 241);
}
.apply_div{
    margin: 0 20px;
}
.top_line1{
    position: relative;
    left: -20px;
}
.top_line1 hr{
    margin-top: 20px;
    height: 1px;
    border: none;
    width: calc(100% + 40px);
}
.top_line1 p{
    background: white;
    z-index: 3;
    position: absolute;
    top: 4px;
    left: 47%;
    padding: 0 10px;
}