#div1{
    border: 1px solid black;
    height: 400px;
    margin: 100px;
}
p::before{
    content: attr(data-content);
    position: absolute;
    z-index: -1;
    color: #DDD;
    font-size: 120px;
    font-family: serif;
    font-weight: bolder;
}

a {
    width: 175px;
    height: 175px;
    border: 1px solid #1d1a22;
    margin-bottom: 75px;
    position: relative;
    z-index: 10;
    cursor: pointer;

}
a::before {
    content: 'alipay';
    color: rgba(255,255,255,.9);
    display: block;
    text-align: center;
    background-color: #4285f4;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 30px;
    padding: 10px 0;
    transition: opacity .5s;
    opacity: 0;
}
a:hover::before {
    opacity: 1;
    
}