

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body table-responsive">
                <table class="table table-hover table-bordered datatable" width="100%">
                    <thead>
                    <tr>

                        <th>入口名称</th>
                        <th>二维码图片</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
       
                    <tr>

                        <td>入口1</td>
                        <td>
                            <img src="https://jbzw.qimixi.net/static/in/1.png"  style="width: 40px;height: 40px;">
                        </td>
                        <td class="td-do">
                                <a class="btn btn-danger" target="_blank" title="删除" href="https://jbzw.qimixi.net/static/in/1.png" >
                                下载二维码
                            </a>
                        </td>
                    </tr>

                    <tr>

                        <td>入口2</td>
                        <td>
                            <img src="https://jbzw.qimixi.net/static/in/2.png"  style="width: 40px;height: 40px;">
                        </td>
                        <td class="td-do">
                                <a class="btn btn-danger" target="_blank" title="删除" href="https://jbzw.qimixi.net/static/in/2.png" >
                                下载二维码
                            </a>
                        </td>
                    </tr
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>