.card-special-service {
    font-size: 28rpx;
    .card  {
        padding: 32rpx;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .content {
            display: flex;
            align-items: flex-start;
            .icon {
                width: 132rpx;
                height: 96rpx;
            }
            .text {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin-left: 32rpx;
                .title {
                    color: #333333;
                    font-size: 34rpx;
                    line-height: 48rpx;
                    margin-bottom: 4rpx;
                }
                .description {
                    color: #999999;
                    line-height: 38rpx;
                    font-weight: 300;
                }
            }
        }
        .button {
            width: 88rpx;
            height: 52rpx;
            line-height: 52rpx;
            text-align: center;
            border: 1px solid #108EE9;
            border-radius: 2rpx;
            color: #108EE9;
        }
    }
}