.market-home_normal {
    height: 90rpx;
    display: flex;
    align-items: center;
    position: relative;
}

.market-home_normal .title {
    font-size: 26rpx;
    color: #161616;
    margin-left: 25rpx;
}

.market-home_normal .iconlist {
    display: flex;
    align-items: center;
}

.market-home_normal .iconlist .icon {
    width: 40rpx;
    height: 40rpx;
    margin-left: 29rpx;
}

.market-home_normal .iconlist .iconmore {
    width: 32rpx;
    height: 8rpx;
    margin-left: 17rpx;
}

.market-home_normal .edit {
    position: absolute;
    top: 50%;
    right: 36rpx;
    color: #108EE9;
    font-size: 28rpx;
    margin-top: -14rpx;
}

.market-home_edit .header {
    height: 90rpx;
    font-size: 30rpx;
    padding: 0 24rpx;
    display: flex;
    align-items: center;
}

.market-home_edit .header .cancel {
    flex: 1;
}

.market-home_edit .header .done {
    color: #108EE9;
}

.market-home_edit .title {
    margin: 29rpx 0 17rpx 24rpx;
    color: #161616;
    font-size: 26rpx;
}

.market-home_edit .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 24rpx 17rpx 6rpx;
}

