.tab-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.citylist-container {
  .am-list-content {
    color: #333333;
    font-size: 28rpx;
  }
}

.page-box {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
}
.class-left {
  width: 220rpx;
  height: 100%;
  background: #f5f5f5;
}

.class-left .cate-list {
  height: 110rpx;
  line-height: 110rpx;
  font-size: 28rpx;
  color: #333333;
  text-align: center;
  border-left: 8rpx solid transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.class-left .cate-list.on {
  color: #108ee9;
  border-color: #108ee9;
  background: #ffffff;
}
.class-right {
  width: 530rpx;
  height: 100%;
  background: #ffffff;
}
.class-right .cate-list {
  font-size: 28rpx;
  color: #333333;
  letter-spacing: 0.48rpx;
  height: 96rpx;
  line-height: 96rpx;
  padding-left: 30rpx;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.class-right .cate-list.childOn {
  color: #108ee9;
}
