span{
    margin-right:20px;
}
.span_block{
    display:block;
    margin-bottom: 20px;
}
.span_bold{
    font-weight: bold;
    margin-right: 10px;
}
.span_block span{
    display:block;
}
#left_main{
    float:left;
    width:180px;
    height:720px;
    background: #5293f5;
    text-align: center;
    color:white;
    padding-top: 30px;
}
#right_main{
    float:left;
    margin-left:30px;
}