<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            {include file="template/form_header" /}
            <form id="dataForm" class="form-horizontal dataForm" action="" method="post" enctype="multipart/form-data">
                <div class="box-body">
                    <div class="fields-group">
                        {if isset($info)}
                        <input id="id" name="id" value="{$info.id}" hidden placeholder="请勿修改">
                        {/if}

                        <div class="form-group">
                            <label for="total_id" class="col-sm-2 control-label">所属业务</label>
                            <div class="col-sm-4">
                                <select id="total_id" name="total_id" class="form-control select2 total_list_select" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="type" class="col-sm-2 control-label">服务对象</label>
                            <div class="col-sm-10 col-md-4">
                                <div class="input-group">
                                    <select name="type" id="type" class="form-control">
                                        <option value="0">请选择服务对象</option>
                                        {foreach name='type_list' item='item'}
                                        <option value="{$key}" {if isset($info) && $info.type==$key}selected{/if}>{$item}</option>
                                        {/foreach}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="level" class="col-sm-2 control-label">行使层级</label>
                            <div class="col-sm-10 col-md-4">
                                <div class="input-group">
                                    <input maxlength="20" id="level" name="level" value="{$info.level|default=''}" class="form-control" placeholder="请输入行使层级">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">办事指南名称</label>
                            <div class="col-sm-10 col-md-4">
                                <input id="name" name="name" value="{$info.name|default=''}" class="form-control" placeholder="请输入办事指南名称">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="place_time" class="col-sm-2 control-label">办理地点和时间</label>
                            <div class="col-sm-10 col-md-4">
                                <textarea class="form-control" rows="3" placeholder="请输入办理地点和时间" id="place_time" name="place_time" >{$info.place_time|default=''}</textarea>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="transact_type" class="col-sm-2 control-label">办件类型</label>
                            <div class="col-sm-10 col-md-4">
                                <input id="transact_type" name="transact_type" value="{$info.transact_type|default=''}" class="form-control" placeholder="请输入办件类型">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="num_limit" class="col-sm-2 control-label">数量限制</label>
                            <div class="col-sm-10 col-md-4">
                                <input id="num_limit" name="num_limit" value="{$info.num_limit|default=''}" class="form-control" placeholder="请输入数量限制，0表示无限制">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dec_org" class="col-sm-2 control-label">决定机构</label>
                            <div class="col-sm-10 col-md-4">
                                <input id="dec_org" name="dec_org" value="{$info.dec_org|default=''}" class="form-control" placeholder="请输入决定机构">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="res_send_way" class="col-sm-2 control-label">结果通知方式</label>
                            <div class="col-sm-10 col-md-4">
                                <input id="res_send_way" name="res_send_way" value="{$info.res_send_way|default=''}" class="form-control" placeholder="请输入结果通知方式">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="rule_do_day" class="col-sm-2 control-label">法定办理时间</label>
                            <div class="col-sm-10 col-md-4">
                                <input id="rule_do_day" name="rule_do_day" value="{$info.rule_do_day|default=''}" class="form-control" placeholder="请输入法定办理时间">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="agree_do_day" class="col-sm-2 control-label">承诺办理时间</label>
                            <div class="col-sm-10 col-md-4">
                                <input id="agree_do_day" name="agree_do_day" value="{$info.agree_do_day|default=''}" class="form-control" placeholder="请输入承诺办理时间">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="contact_way" class="col-sm-2 control-label">咨询方式</label>
                            <div class="col-sm-10 col-md-4">
                                <input id="contact_way" name="contact_way" value="{$info.contact_way|default=''}" class="form-control" placeholder="请输入咨询方式">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="result_search_way" class="col-sm-2 control-label">进度结果查询途径</label>
                            <div class="col-sm-10 col-md-4">
                                <input id="result_search_way" name="result_search_way" value="{$info.result_search_way|default=''}" class="form-control" placeholder="请输入进度结果查询途径">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="complaint_channel" class="col-sm-2 control-label">监督/投诉渠道</label>
                            <div class="col-sm-10 col-md-4">
                                <input id="complaint_channel" name="complaint_channel" value="{$info.complaint_channel|default=''}" class="form-control" placeholder="请输入监督/投诉渠道">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="other_department" class="col-sm-2 control-label">其他共同办理部门</label>
                            <div class="col-sm-10 col-md-4">
                                <input id="other_department" name="other_department" value="{$info.other_department|default=''}" class="form-control" placeholder="请输入其他共同办理部门">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="other_office" class="col-sm-2 control-label">其他功能办理处室</label>
                            <div class="col-sm-10 col-md-4">
                                <input id="other_office" name="other_office" value="{$info.other_office|default=''}" class="form-control" placeholder="请输入其他功能办理处室">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="agency_involved" class="col-sm-2 control-label">涉及的中介机构</label>
                            <div class="col-sm-10 col-md-4">
                                <input id="agency_involved" name="agency_involved" value="{$info.agency_involved|default=''}" class="form-control" placeholder="请输入涉及的中介机构">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="is_delegate" class="col-sm-2 control-label">是否委托行使</label>
                            <div class="col-sm-10 col-md-4">
                                <input id="is_delegate" name="is_delegate" value="{$info.is_delegate|default=''}" class="form-control" placeholder="请输入是否委托行使">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="entrust_letter" class="col-sm-2 control-label">委托书</label>
                            <div class="col-sm-10 col-md-4">
                                <div class="input-group file-caption-main">
                                    <div tabindex="500" class="form-control file-caption  kv-fileinput-caption">
                                        <div class="file-caption-name" id="input-filename-entrust_letter">
                                            {$info.entrust_letter_file_name|default=''}
                                        </div>
                                    </div>
                                    <div class="input-group-btn">
                                        <div tabindex="500" class="btn btn-primary btn-file">
                                            <i class="glyphicon glyphicon-folder-open"></i>
                                            <span class="hidden-xs">浏览</span>
                                            <input type="file" class="form-input-image" data-preview="image-preview-entrust_letter" data-showname="input-filename-entrust_letter" name="entrust_letter" id="entrust_letter">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="arrive_count" class="col-sm-2 control-label">需要到场次数</label>
                            <div class="col-sm-10 col-md-4">
                                <input id="arrive_count" name="arrive_count" value="{$info.arrive_count|default=''}" class="form-control" placeholder="请输入是否委托行使">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="tree_img" class="col-sm-2 control-label">流程图</label>
                            <div class="col-sm-10 col-md-4">
                                <div class="input-group file-caption-main">
                                    <div tabindex="500" class="form-control file-caption  kv-fileinput-caption">
                                        <div class="file-caption-name" id="input-filename-tree_img">
                                            {$info.tree_img_file_name|default=''}
                                        </div>
                                    </div>
                                    <div class="input-group-btn">
                                        <div tabindex="500" class="btn btn-primary btn-file">
                                            <i class="glyphicon glyphicon-folder-open"></i>
                                            <span class="hidden-xs">浏览</span>
                                            <input type="file" class="form-input-image" data-preview="image-preview-tree_img" data-showname="input-filename-tree_img" name="tree_img" id="tree_img">
                                        </div>
                                    </div>

                                    <div id="tree_img_clear" class="input-group-btn" >
                                        <div tabindex="500" class="btn btn-danger btn-clear">
                                            <i class="glyphicon glyphicon-folder-open"></i>
                                            <span class="hidden-xs">清除</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10 col-md-4">
                                <div class="input-group file-caption-main">
                                    <img id="image-preview-tree_img" src="{$info.tree_img|default=''}" style="max-width: 150px;max-height: 150px">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="material" class="col-sm-2 control-label">办理材料目录</label>
                            <div class="col-sm-8">
                                <textarea id="material" name="material" class="form-control" style="height: 300px" placeholder="办理材料目录">{$info.material|default=''}</textarea>
                                <!--<script id="material" name="material" type="text/plain">{$info.material|default=''}</script>-->
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="setting" class="col-sm-2 control-label">设定依据</label>
                            <div class="col-sm-10 col-md-4">
                                <textarea class="form-control" rows="3" placeholder="请输入设定依据" id="setting" name="setting" >{$info.setting|default=''}</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="condition" class="col-sm-2 control-label">办理条件</label>
                            <div class="col-sm-10 col-md-4">
                                <textarea class="form-control" rows="3" placeholder="请输入办理条件" id="condition" name="condition" >{$info.condition|default=''}</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="outlay_criterion" class="col-sm-2 control-label">收费标准</label>
                            <div class="col-sm-10 col-md-4">
                                <textarea class="form-control" rows="3" placeholder="请输入收费标准" id="outlay_criterion" name="outlay_criterion" >{$info.outlay_criterion|default=''}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                {include file="template/form_footer" /}
            </form>
        </div>
    </div>
</div>

{if $showFormEditor}
<script type="text/javascript" charset="utf-8" src="__STATIC__/plugins/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__STATIC__/plugins/ueditor/ueditor.all.js"> </script>
<script type="text/javascript" charset="utf-8" src="__STATIC__/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
{/if}
<script>

    // {if (isset($info) && $info.tree_img_file_name)}
    // $('#tree_img_clear').show();
    // {else}
    // $('#tree_img_clear').hide();
    // {/if}
    // $(document).on('DOMNodeInserted', '#input-filename-tree_img', function(){
    //
    //     var this_val = $(this).attr('src');
    //
    //     if (this_val != '')
    //     {
    //         $('#image-preview-tree_img').val("");
    //         $('#tree_img').val("");
    //         $('#input-filename-tree_img').attr('src', "");
    //         $('#tree_img_clear').show();
    //     }
    //     else
    //     {
    //         $('#tree_img_clear').hide();
    //     }
    // });

    $('.total_list_select').select2({
        placeholder: '请搜索选择业务',
        ajax: {
            url: '/admin/total/select',
            data: function (params) {
                var query = {
                    keywords: params.term,
                }

                return query;
            },
            processResults: function (data) {
                return {
                    results: data.data
                };
            }
        }
    });

    {if(isset($total_info) && $total_info)}
    var option = new Option('{$total_info.name}', '{$total_info.id}', true, true);
    $(".total_list_select").append(option);
    $(".total_list_select").trigger('change')
    {/if}

    $(function () {
        //Add text editor
        $("#material").wysihtml5({
            locale: "zh-CN",
            html:true,
        });
    });
        // var url="{:url('extend/ueserver')}";
        // //实例化编辑器
        // var ue = UE.getEditor('material',{
        //     serverUrl :url
        // });
</script>